.container {
  background-color: black;
}

.item {
  background-color: black;
  transition: transform 2000ms;
}

.sub-item {
  display: none;
}
.container .item:focus,
.container .item:hover {
  transform: scale(1.5);
  z-index: 1;
}

.item:hover .sub-item {
  display: inline;
}
