@media screen {
  .profile-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .profile-item {
    position: relative;
    display: inline-block;
    padding: 2rem;
    list-style: none;
    cursor: pointer;
  }

  .profile-update {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
