@media screen {
    .profile-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

    .profile-item {
        position: relative;
        display: inline-block;
        padding: 2rem;
        list-style: none;
        cursor: pointer;
    }

    .profile-update {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .profile-button {
        background-color: #141414;
        color: grey;
        cursor: pointer;
        font-size: 13px;
        padding: 0.5em 1.5em;
        border: 1px solid grey;
    }
    .profile-button:hover {
        background-color: white;
        color: black;
        font-weight: bold;
    }
    .text {
        color: white;
    }
}
