.error-container {
    width: 100vw;
    height: 90vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/pages/errors/bg-mindhunter-v2.png);
    background-size: cover;
    color: white;
}

.notfound-container {
    width: 100%;
    height: 93vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/pages/errors/bg-lost-in-space.png);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-subcontainer {
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    text-align: center;
}

.error-head {
    font-size: 6em;
    font-weight: 700;
    margin-bottom: 2vw;
    margin-top: 0;
    text-shadow: 0 1px 2px rgb(0 0 0 / 57%);
    z-index: 1;
}

.error-text {
    font-size: 2.2em;
    font-weight: 300;
    margin-top: 0;
    text-shadow: 0 1px 2px rgb(0 0 0 / 57%);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.error-button {
    background-color: white;
    color: black;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    border-radius: 4px;
    height: 100%;
    font-weight: bold;
    font-size: 1.6rem;
}
