@media only screen and (min-width: 780px) {
    .signout-center-box {
        text-align: center;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        left: 0;
        right: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
        background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/login/login-the-crown_2-1500x1000.jpg);
        background-size: cover;
    }

    .signout-container {
        position: relative;
        display: block;
        text-align: left;
        justify-content: center;
        width: 350px;
        background-color: #fafafa;
        padding: 30px 45px;
        color: #333;
        margin: 20px auto 0;
        line-height: 1.5;
    }
    .signout-container .title {
        font-weight: 400;
        font-size: 2em;
    }

    .signout-container .button {
        display: inline-block;
        text-decoration: none;
        line-height: 1em;
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
        padding: 14px 2em;
        margin: 0.5em 0.5em 0.5em 0;
        width: 100%;
        letter-spacing: 1px;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: #0080ff;
        color: #fff;
    }
}

@media screen and (max-width: 778px) {
    .center-box {
        position: absolute;
        background-color: #f3f3f3;
        width: 100%;
    }

    .signout-container {
        margin: 0;
        position: relative;
        display: block;
        text-align: left;
    }
    .signout-container .sub-container {
        color: black;
        margin: 0 auto;
        padding: 0 5%;
    }

    .signout-container .title {
        font-size: 4vw;
    }

    .signout-container .input {
        color: #000;
        width: 100%;
        height: 44px;
        font-size: 16px;
        box-sizing: border-box;
        border-radius: 2;
        padding: 10px 11px;
        line-height: normal;
        outline: none;
    }
    .signout-container .error:focus {
        outline: 1px solid red;
    }

    .signout-container .button {
        display: inline-block;
        text-decoration: none;
        line-height: 1em;
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
        padding: 14px 2em;
        margin: 0.5em 0.5em 0.5em 0;
        width: 100%;
        letter-spacing: 1px;
        border-radius: 2px;
        box-sizing: border-box;
        background-color: #0080ff;
        color: #fff;
    }
}
